.main {
    &-image {
      position: relative;
      background: url("../images/bd-main-image.png") no-repeat;
      background-size: cover;
      border-bottom: 4px solid $span-color;
      &--title {
        @include title-properties;
        width: 26%;
        margin: 130px 0 45px 35%;
        color: $title-color;
        background-color: #eee3dc;
        opacity: 0.9;
      }
      &--color {
        @include title-properties;
        color: $span-color;
      }
      &--description {
        @include dsc-properties;
        width: 66%;
        margin: 0 0 80px 20%;
        color: $title-color;
        background-color: #eee3dc;
        opacity: 0.9;
      }
      &--dsc {
        @include dsc-properties;
        color: $span-color;
      }
    }
    &-comments {
      margin-top: 78px;
      padding: 20px 0 20px 0;
      background-color: rgba(36,37,39,.7);
      &--style {
        margin: 5px 19px 5px 66px;
        background-color: #eae9e7;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        img {
          float: left;
          margin-right: 15px;
        }
        p {
          margin: 10px 0 0 0;
          font: 9px/14px "League Gothic", sans-serif;
          font-style: italic;
        }
      }
    }
  }
.main-home { border-bottom: 2px solid #d5d5d5; }
.main-column {
  position: absolute;
  top: -10px;
  background-color: #ffffff;
  border-top: 4px solid $span-color;
  border-left: 2px solid #d5d5d5;
  &-about {
    padding: 20px 0 30px 20px;
    border-right: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;
  }
  &--title {
    font: 32px "League Gothic", sans-serif;
    color: #4492b7;
  }
  &--image {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    img {
      float: left;
      margin-right: 15px;
    }
  }
  &-information--left, &-information--right {
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 20px;
    background: #eaeaea;
    box-shadow: 0 13px 21px -11px #000000;
    border-top-left-radius: 20px;
    cite {
      margin-left: 20px;
      font: 10px/18px Ariel, sans-serif;
      color: #a6a6a6;
    }
    a {
      margin-left: 25px;
      font: bold 10px/18px Ariel, sans-serif;
    }
  }
  &--description {
    display: inline-block;
    width: 70%;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 45px;
    font: 10px/18px Ariel, sans-serif;
    .btn {
      font: bold 10px/18px Ariel, sans-serif;
      color: #ffffff;
      background-image: linear-gradient(#0876a6, #066497);
      text-shadow: 3px 0 2px rgba(239, 239, 239, 1);
      box-shadow: 0 4px 0 0 #000000;
      border: 1px solid #045279;
      border-radius: inherit;
      &:hover {
        background-image: linear-gradient(#b2d8e8, #066497);
        box-shadow: 0 4px 0 0 #000000;
        border: 1px solid #045279;
        border-radius: inherit;
      }
    }
  }
  &-footer {
    margin: 65px 0 33px;
    padding: 10px 10px;
    background-color: #f4f3f3;
    box-shadow: 0 13px 21px -11px #000000;
    span {
      font: 10px Ariel, sans-serif;
    }
  }
}
.main-information {
  &--title {
    margin-left: 20px;
    font: 22px/14px "League Gothic", sans-serif;
    color: #076e9f;
  }
  &--description {
    padding: 40px 55px 0 25px;
    font: 10px/18px Ariel, sans-serif;
  }
}
.footer-information {
  &--left {
    margin-top: 45px;
  }
  &--right {
    margin-top: 27px;
  }
  &--left, &--right {
    padding: 10px 10px;
    background-color: #f4f3f3;
    text-align: right;
    img {
      margin: 0 5px;
      &:first-child {
        vertical-align: top;
      }
    }
    span {
      margin: 0 5px;
      color: #7db0c9;
      font: 10px/18px Ariel, sans-serif;
    }
  }
}
.map-title {
  margin-left: 88px;
  font: 32px "League Gothic", sans-serif;
  color: #4492b7;
}
.ribbon {
  position: relative;
  left: 62.8%;
  width: 37%;
  min-width: 50px;
  margin: -3em auto;
}
.ribbon-content {
  margin: 0 1em;
  padding: 10px 0;
  background: #90d4f5;
  font-weight: normal;
  line-height: 1.7em;
  text-align: center;
  text-shadow: 0 0 2px rgba(0,0,0,.4);
  box-shadow: 0 3px 5px rgba(0,0,0,.2);
  color: #FFF;
  img, span {
    margin: 0 5px 0 5px;
  }
  span {
    color: $title-color;
    font: 10px/18px Ariel, sans-serif;
  }
}
.ribbon:before,
.ribbon:after,
.ribbon-content:before,
.ribbon-content:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}
.ribbon:before,
.ribbon:after {
  top: 1.4em;
  z-index: -2;
}
.ribbon:before {
  left: 0;
  border-left-color: transparent;
}
.ribbon:after {
  right: 0;
  border-right-color: transparent;
}
.ribbon-content:before {
  top: 1.7em;
  z-index: -1;
  border: .3em solid #076e9f;
  border-bottom-color: transparent;
}
.ribbon-content:after {
  top: 3.6em;
  z-index: 0;
  border: .3em solid #076e9f;
  border-bottom-color: transparent;
}
.ribbon-content:before {
  left: 1em;
  border-left-color: transparent;
}
.ribbon-content:after {
  right: 1em;
  border-right-color: transparent;
}
